body{
    font-family: 'Roboto Mono', monospace;
    background-color: linen;
}

a {
    color: seagreen !important;
}

#nav-bar{
    background-color: khaki;
    margin: 0px;
    padding: 0px;
}

#nav-header {
    /* font-family: 'Heebo', sans-serif; */
    font-size: 3rem;
    font-weight: 600;
}

/* .item-image {
    position: fixed;
}

.item-save-icon {
    position: relative;
} */

.item-text-container {
    background-color: khaki;
    margin-bottom: 2rem;
}

#footer {
    background-color: white;
    margin: 0px;
    padding: 0px 15px;
    padding-top: 1rem;
}